body {
    margin:0px; padding:0px;
    overflow:hidden;
    font-family: "Press Start 2P", cursive;
}

body * {
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

background {
    position:absolute;
    display:block;
    background-image: url(../img/background-start.jpg);
    width:1536px; height:750px;
    background-size:contain;
    top:0;
}

caughtfish {
    position:fixed;
    background-image: url(../img/caughtfish.png);
    width:290px; height:400px;
    background-size:contain;
    top:20%;
    left:81%;
    animation: fishanimation 4s ease-in-out infinite alternate;
}
@keyframes fishanimation {
    0% {
      transform: translateY(20px);
    }
    
    100% {
      transform: translateY(60px);
    }
}
logo {
    position: fixed;
    background-image: url(../img/logo.png);
    width:30%; height:200px;
    background-size:contain;
    top:20%;
    left:35%;
}
startbutton {
    position: fixed;
    background-color:#0086cf;
    border: 3px solid white;
    border-radius:6px;
    width: 20%;
    color: white;
    text-align: center;
    padding: 10px;
    top: 40%;
    left: 35%;
    margin: 5%;
    cursor: pointer;
}
bubble{
    background-image: url(../img/bubble.png);
    width:30px; height:30px;
    background-size:contain;
}
infiniteloop {
    position: absolute;
    box-sizing: border-box;
    background-image: url(../img/background-game.png);
    background-repeat: repeat;
    width: 100%; height: 100%;
    margin-bottom:100px;
    z-index: 1;
}
hud {
    position: absolute;
    display: block;
    background-image: url(../img/hud.png);
    background-repeat: no-repeat;
    width: 1536px; min-height: 80px;
    background-size:contain;
    top:0;
    z-index: 7;
}
score {
    position: absolute;
    width: 20px; height: 45px;
    font-size: 1.4em;
    color: white;
    line-height: 45px;
    margin-top:10px;
    left: 150px;
    z-index: 8;
}
fishey {
    position: absolute;
    display: block;
    background-image: url(../img/fishey.png);
    background-repeat: no-repeat;
    width: 110px; height: 95px;
    background-size:contain;
    z-index: 6;
}
octopusbottom, octopustop {
    position: absolute;
    display: block;
    width: 220px; height: 270px;
    background-size:contain;
    z-index: 4;
}
octopusbottom {
    background-image: url(../img/octopusbottom.png); 
}
octopustop {
    background-image: url(../img/octopustop.png);
}
star {
    position: absolute;
    display: block;
    background-image: url(../img/star.png);
    width:50px; height:50px;
    background-size:contain;
    z-index:3;
}
gameover {
    position: absolute;
    background-image:url(../img/game-over.png);
    width: 260px; height: 220px;
    background-size:contain;
    box-sizing: border-box;
    top: 15%;
    left: 41.5%;
    padding: 10px;
    animation: fishanimation 3s ease-in-out infinite alternate;
    z-index: 4;
}
againbutton {
    position: fixed;
    background-color:#0086cf;
    border: 3px solid white;
    border-radius:6px;
    color: white;
    width: 20%;
    cursor: pointer;
    text-align: center;
    top: 45%;
    left: 35%;
    margin: 5%;
    padding: 10px;  
}
gamewon {
    position: absolute;
    background-image:url(../img/game-won.png);
    width: 260px; height: 220px;
    background-size:contain;
    box-sizing: border-box;
    top: 15%;
    left: 41.5%;
    padding: 10px;
    animation: fishanimation 3s ease-in-out infinite alternate;
    z-index: 4;
}
againbutton {
    position: fixed;
    background-color:#0086cf;
    border: 3px solid white;
    border-radius:6px;
    width: 20%;
    top: 45%;
    left: 35%;
    color: white;
    text-align: center;
    margin: 5%;
    padding: 10px;
    cursor: pointer;
}
